<html xmlns:th="http://www.thymeleaf.org">
    <head>

    </head>
    <body>
        <form action="" method="GET">
        <label for="clientId" th:text="#{sumpayments.client.id}">Client ID:</label><br>
        <input type="number" id="clientId" name="ClientId" 
               th:placeholder="#{sumpayments.client.id.placeholder}"
               placeholder="Enter client ID" 
               required>       
        <br>
        <label for="dateFrom" th:text="#{sumpayments.date.from}">Date from:</label>
        <input type="date" id="dateFrom" name="dateFrom" required>
        <br>
        <label for="dateTo" th:text="#{sumpayments.date.to}">Date to:</label>
        <input type="date" id="dateTo" name="dateTo" required>
        
        <input type="submit" th:value="#{sumpayments.submit}" value="Submit">
        <input type="reset" th:value="#{sumpayments.clear}" value="Clear">
    </form>
    <div th:if="${sum != null}">
        <p th:text="#{sumpayments.sum.label}">sum:</p>
        <p th:text="${sum}">0</p>
    </div>

    <a href="../index.html" th:href="@{/}" th:text="#{sumpayments.return.home}">Return to home</a>
    </body>
</html>